@media (max-width : 1400px) {
  .showcase__content {
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width : 800px) {
  .showcase__logo__wrapper {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
  }

  .showcase__content-wrapper {
    padding: var(--padding) 0;
  }

  .showcase-carousel__item p {
    font-size: 15px;
    bottom: -50px;
  }
}

@media (max-width : 500px) {
  .showcase__content-wrapper {
    padding: calc(var(--padding) * .2) 0;
  }

  .showcase-carousel__item p {
    position: absolute;
    bottom: 0;
}
